{% extends 'base.html' %}

{% block body %}
       <h1>Hola buenas tardes {{nom}},BIENVENIDO  </h1>

       <!-- contenedor de formularios-->

       <section class="container">
          <h2 class="subtitle"> Ingresa una tarea nueva:</textarea></h2>
          <form action="{{url_for('agregar')}}" method="POST">
               <input type="text"  name="tarea">
               <button id="btn-submit" type="submit">Agregar</button>

          </form>
       </section>

       {%if lista_tareas|length < 1%}
           <h4 class="subtitle">No hay tareas pendientes &#x5350;</h4>
       {% else %}
     <!--Contenedor de tareas-->
     <section class="container">


       
       {% for tarea in lista_tareas %}
    
            <article class="task container">
               <table>
                    <tr>
                         <td>
                              {{tarea}}
                         </td>
                         
                    
                         <td>
                              <a class="anchor" href="/delete/{{lista_tareas.index(tarea)}}">Borrar</a>
                         </td>
                         
                    
                    </tr>
               </table>
               
            </article>
       {%endfor%}
       {% endif %}

     </section>
{% endblock %} 